/* COMMON */
body {
  padding-top: 70px;
  font-size: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1,
h2,
h4 {
  text-transform: uppercase;
}

a {
  color: #fff;
}

.ms_wrapper {
  width: 60%;
  max-width: 992px;
  margin: 0 auto;
}

.ms_list li {
  display: inline-block;
}

.ms_divider::before,
.ms_divider::after {
  content: '';
  width: 80px;
  height: 4px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
}

#portfolio .ms_divider::before,
#portfolio .ms_divider::after,
#contact_me .ms_divider::before,
#contact_me .ms_divider::after {
  background-color: #2c3e50;
}

/* font size */
.btn {
  font-size: 15px;
  padding: 10px 20px;
  margin-top: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
}
.ms_divider {
  font-size: 20px;
}

/* Margin and Padding */
.ms_section {
  padding: 32px 0;
}

.ms_margin-btm {
  margin-bottom: 20px;
}

/* Palette */
.ms_primary {
  color: #fff;
  background-color: #1abc9c;
}

.ms_secondary {
  color: #2c3e50;
}

.ms_alternative {
  color: #fff;
  background-color: #2c3e50;
}

.ms_title {
  color: #333;
}

/* hover */
a:hover {
  text-decoration: none;  
}
.ms_navbar .start:hover {
  color: #1abc9c;
  transition: 0.5s;
}

.ms_navbar a:not(.start):hover {
  color: #fff;
  background-color: #1abc9c;
  border-radius: 5px;
  transition: 0.5s;
}

.btn:hover {
  color: #fff;
  background-color: #248a76;
  transition: 0.5s;
}

.ms_dwnld:hover {
  color: black;
  background-color: #fff;
}

.ms_social a:hover{
  color: #2c3e50;
  background-color: #fff;
  transition: 0.5s;
}
/* END COMMON */


/* HEADER */

/* Navbar */
.ms_navbar {
  height: 70px;
  line-height: 70px;
}

.ms_home a {
  font-size: 20px;
}

.ms_menu a {
  padding: 15px;
}
/* END HEADER */


/* MAIN */

/* Jumbotron */
.ms_avatar img {
  max-width: 100%;
  height: 300px;
}

/* Portfolio */
.ms_item {
  width: 100%;
  min-width: 200px;
  max-width: 450px;
  height: 300px;
  display: inline-block;
  margin-bottom: 30px;
  border-radius: 10px;
  background-size: 414px;
  background-position: center;
  background-repeat: no-repeat;
}

/* thumbnails */
.ms_cabin {
  background-color: #ba4b63;
  background-image: url(../img/cabin.png);
}
.ms_cake {
  background-color: #1fa4b6;
  background-image: url(../img/cake.png);
}
.ms_circus {
  background-color: #130f0f;
  background-image: url(../img/circus.png);
}
.ms_game {
  background-color: #1d83c1;
  background-image: url(../img/game.png);
}
.ms_safe {
  background-color: #1037b5;
  background-image: url(../img/safe.png);
}
.ms_submarine {
  background-color: #ccb2a3;
  background-image: url(../img/submarine.png);
}

/* Contact me */

/* Form Bootstrap */
.form-group {
  color: #2c3e50;
  border-bottom: 1px solid lightgray;
  margin-bottom: 0;
}

.ms_control {
  width: 100%;
  padding: 15px 0;
  border: none;
  outline: none;
}

.ms_control::placeholder {
  color: #2c3e50;
}

/* My Form */
/*
input:not(.btn),
textarea {
  color: #2c3e50;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #2c3e50;
}
*/
/* END MAIN */

/* FOOTER */
.ms_footer-top {
  background-color: #3a546d;
}

/* social icon */
.ms_social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  font-size: 16px;
  line-height: 50px;
  border: 1px solid white;
  border-radius: 50%;
}

.ms_freelancer a {
  color: #1abc9c;
}
/* END FOOTER */

/* MEDIA QUERY */

/* Md screen */
@media screen and ( min-width: 992px ) {

  /* COMMON */
  body {
    padding-top: 100px;
    font-size: 18px;
  }

  /* font size */
  .btn {
    font-size: 18px;
  }

  .ms_divider {
    font-size: 25px;
  }

  /* Margin and Padding */
  .ms_section {
    padding: 40px 0;
  }

  .ms_margin-btm {
    margin-bottom: 30px;
  }
  /* END COMMON */

  /* HEADER */

  /* Navbar */
  .ms_navbar {
    height: 100px;
    line-height: 100px;
  }

  .ms_home a {
    font-size: 25px;
  }

  .ms_menu a {
    padding: 20px;
    font-size: 18px;
  }
  /* END HEADER */


  /* MAIN */

  /* Jumbotron */
  .ms_avatar img {
    height: 250px;
  }

  /* Contact me */

  /* Form */
  /* input:not(.btn),
  textarea {
    padding: 15px 0;
    font-size: 17px;
    border-bottom: 2px solid lightgray;
  }

  input::placeholder,
  textarea::placeholder {
    color: #2c3e50;
  } */
  /* END MAIN */

  /* FOOTER */
  footer .row > * {
    margin-bottom: 0;
  }

  /* social icon */
  .ms_social li {
    width: 55px;
    height: 55px;
    font-size: 18px;
    line-height: 55px;
  }
  /* END FOOTER */
}
